# Import the libraries

In [100]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import the dataset

In [101]:
dataset = pd.read_csv('D:\ml\practice\Classification\creditcard.csv')
# X = dataset.iloc[:, :-1].values
# y = dataset.iloc[:,-1].values

In [102]:
dataset.shape

(284807, 31)

In [103]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

# Feature Scaling

In [104]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
dataset['Amount'] = sc.fit_transform(pd.DataFrame(dataset['Amount']))

In [105]:
dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,0.244964,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,-0.342475,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,1.160686,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,0.140534,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,-0.073403,0

In [106]:
dataset = dataset.drop(['Time'],axis=1)

In [107]:
dataset.duplicated().any()

True

* Remove Duplicate values

In [108]:
dataset = dataset.drop_duplicates()

In [109]:
dataset.shape

(275663, 30)

In [110]:
dataset['Class'].value_counts()
# imbalance dataset
# 0 -> Normal transaction
# 1 -> Fraud transaction

0    275190
1       473
Name: Class, dtype: int64

In [130]:
X = dataset.drop('Class',axis=1)
Y = dataset['Class']

# Splitting the dataset into train and test split

In [131]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Data Seperation

In [113]:
real = dataset[dataset.Class == 0]
fraud = dataset[dataset.Class == 1]

In [114]:
print(real.shape)
print(fraud.shape)

(275190, 30)
(473, 30)

In [115]:
real.Amount.describe()

count    275190.000000
mean          0.008682
std           1.012309
min          -0.353229
25%          -0.327682
50%          -0.258275
75%          -0.033782
max         102.362243
Name: Amount, dtype: float64

In [116]:
fraud.Amount.describe()

count    473.000000
mean       0.142021
std        1.040346
min       -0.353229
25%       -0.349231
50%       -0.313968
75%        0.070128
max        8.146182
Name: Amount, dtype: float64

In [117]:
dataset.groupby('Class').mean()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,-0.029792,-0.008288,0.037131,-0.012054,-0.005596,-0.011768,0.017497,-0.007346,-0.008050,0.012492,...,0.002717,0.001781,0.005689,-0.001779,-0.006696,-0.004890,-0.000327,0.001557,0.000771,0.008682
1,-4.498280,3.405965,-6.729599,4.472591,-2.957197,-1.432518,-5.175912,0.953255,-2.522124,-5.453274,...,0.405043,0.466550,0.086639,-0.096464,-0.106643,0.040615,0.050456,0.213774,0.078270,0.142021

In [132]:
real_sample = real.sample(n=473)

In [133]:
real_sample.shape

(473, 30)

In [134]:
new_dataset = pd.concat([real_sample, fraud], ignore_index=True)

In [135]:
new_dataset['Class'].value_counts()

0    473
1    473
Name: Class, dtype: int64

In [136]:
new_dataset.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,2.073622,-1.268611,-0.656097,-0.907436,-1.145491,-0.331384,-1.162540,0.031454,0.329114,0.776875,...,0.397650,0.968226,0.111613,0.579421,-0.222541,-0.091189,-0.008584,-0.032431,-0.077361,0
1,1.081048,0.310129,-0.056586,1.145516,0.182702,-0.466582,0.469933,-0.114447,-0.687423,0.192141,...,0.128304,0.332592,-0.147547,0.244726,0.711938,-0.286821,-0.002643,0.008565,-0.157523,0
2,1.921327,-0.384350,-0.562811,1.223959,-0.437917,-0.187736,-0.522898,0.045904,1.162443,0.247455,...,0.189506,0.540915,0.031034,-0.706712,-0.060693,-0.520789,0.038606,-0.032154,-0.153325,0
3,1.037382,-2.961033,-1.217716,-0.467520,-1.669320,-0.099178,-0.470544,-0.087413,0.253351,0.520592,...,0.729641,0.730436,-0.338923,0.634351,-0.440642,-0.147408,-0.104975,0.059993,2.037626,0
4,-1.367936,-1.149608,1.461071,-2.407600,-0.289307,0.120108,-0.054346,0.106567,-2.852880,0.851178,...,0.045421,0.356987,-0.067793,-0.293143,0.406567,-0.157531,-0.074558,0.156184,0.246084,0

In [137]:
new_dataset['Class'].value_counts()

0    473
1    473
Name: Class, dtype: int64

In [138]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [139]:
print(X)

           V1        V2        V3        V4        V5        V6        V7  \
0    2.073622 -1.268611 -0.656097 -0.907436 -1.145491 -0.331384 -1.162540
1    1.081048  0.310129 -0.056586  1.145516  0.182702 -0.466582  0.469933
2    1.921327 -0.384350 -0.562811  1.223959 -0.437917 -0.187736 -0.522898
3    1.037382 -2.961033 -1.217716 -0.467520 -1.669320 -0.099178 -0.470544
4   -1.367936 -1.149608  1.461071 -2.407600 -0.289307  0.120108 -0.054346
..        ...       ...       ...       ...       ...       ...       ...
941 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494 -0.882850
942  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536 -1.413170
943 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346 -2.234739
944 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548 -2.208002
945  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695  0.223050

           V8        V9       V10  ...       V20       V21       V22  \
0    0.031454  0.329114  0.776875  ...  0.045013  0.397650  0.968226
1   -0.114447 -0.687423  0.192141  ... -0.061752  0.128304  0.332592
2    0.045904  1.162443  0.247455  ... -0.229464  0.189506  0.540915
3   -0.087413  0.253351  0.520592  ...  1.116342  0.729641  0.730436
4    0.106567 -2.852880  0.851178  ... -0.241817  0.045421  0.356987
..        ...       ...       ...  ...       ...       ...       ...
941  0.697211 -2.064945 -5.587794  ...  1.252967  0.778584 -0.319189
942  0.248525 -1.127396 -3.232153  ...  0.226138  0.370612  0.028234
943  1.210158 -0.652250 -3.463891  ...  0.247968  0.751826  0.834108
944  1.058733 -1.632333 -5.245984  ...  0.306271  0.583276 -0.269209
945 -0.068384  0.577829 -0.888722  ... -0.017652 -0.164350 -0.295135

          V23       V24       V25       V26       V27       V28    Amount
0    0.111613  0.579421 -0.222541 -0.091189 -0.008584 -0.032431 -0.077361
1   -0.147547  0.244726  0.711938 -0.286821 -0.002643  0.008565 -0.157523
2    0.031034 -0.706712 -0.060693 -0.520789  0.038606 -0.032154 -0.153325
3   -0.338923  0.634351 -0.440642 -0.147408 -0.104975  0.059993  2.037626
4   -0.067793 -0.293143  0.406567 -0.157531 -0.074558  0.156184  0.246084
..        ...       ...       ...       ...       ...       ...       ...
941  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  1.206024
942 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637 -0.350191
943  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361 -0.041818
944 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  0.626302
945 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309 -0.183191

[946 rows x 29 columns]

In [140]:
print(Y)

0      0
1      0
2      0
3      0
4      0
      ..
941    1
942    1
943    1
944    1
945    1
Name: Class, Length: 946, dtype: int64

In [141]:
print(X.shape, X_train.shape, X_test.shape)

(946, 29) (220530, 29) (55133, 29)

In [142]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.20,
                                                 random_state=42)

# Train the Logistic Regression  model into Training set

In [128]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
model = LogisticRegression()

In [143]:
model.fit(X_train, y_train)

LogisticRegression()

# Confusion Matrix

In [146]:
X_train_prediction = model.predict(X_train)
accuracy_score = accuracy_score(X_train_prediction, y_train)
print(accuracy_score)

0.9457671957671958

# Predicting a new result

In [147]:
pred = model.predict([[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]])
if pred == 0:
    print("Normal Transcation")
else:
    print("Fraudulent Transcation")

Normal Transcation

c:\Users\Ayush Jindal\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(